$black: hsl(0, 0%, 9%);
$white: hsl(100, 100%, 100%);
$light-grey: hsl(0, 0%, 92.9%);
$purple: #7B05FF;
$light-purple: #FF2ED9;
$dark-purple: #5001aa;
$very-dark-purple: #44038F;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

// Animation
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

// Universal
.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-decoration: underline $light-purple;
}

.paragraph {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

// 

.nav-btn {
    color: $light-purple;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent;
    z-index: 100;
}

@media screen and (min-width: 600px) {
    .nav-btn {
        display: none;
    }
}

.navbar {
    background-color: $purple;
    height: 5rem;
    position: sticky;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 99;

    .nav-list {
        background-color: $purple;
        list-style-type: none;
        text-transform: lowercase;
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 100vh;
        padding: 8rem 1rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        transform: translateX(100%);
        transition: transform 250ms ease-in;
        text-align: center;

        .nav-link {
            padding: 0.8rem 0.4rem;

            a {
                color: $white;
            }
        }

        .nav-home:hover,
        .nav-about:hover,
        .nav-work:hover,
        .nav-contact:hover {
            cursor: pointer;
            border-bottom: 2px solid $white;
        }

        .nav-contact {
            background-color: transparent;
            border: 2px solid $white;
            border-radius: 30px;
            padding: 0.625rem 1rem;

            a {
                color: $white;
            }

        }

        .nav-contact:hover {
            background-color: $white;

            a {
                color: $purple;
            }
        }
    }

    .nav-list[data-visible='true'] {
        transform: translateX(0%);
    }

}

@media screen and (min-width: 600px) {
    .navbar {
        width: 100%;
        justify-content: right;
        padding: 1rem;
        border-bottom: 1px solid $purple;

        .nav-list {
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            flex-direction: row;
            border-left: none;
            height: auto;
            width: auto;
            padding: 0 1rem;
            position: static;
            transform: translateX(0%);
            transition: none;
        }
    }
}

@media screen and (max-width: 599px) {

    .navbar {

        .nav-list {

            .nav-contact {
                border: 2px solid $purple;
                width: 50%;
                margin: 0 auto;
            }
        }

        .nav-list[data-visible='true'] {
            transform: translateX(0%);
        }

    }
}

.header {
    padding-top: 7rem;
    height: 100vh;

    .header-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-img {
        max-width: 300px;
        animation: slide-up 2s;
        margin-bottom: 2rem;
    }

    .hello,
    .subtitle {
        font-size: 1rem;
        font-weight: 700;
    }

    .hello {
        opacity: 0;
        animation: slide-up 2s;
        animation-delay: 1000ms;
    }

    .title {
        padding: 1rem 0;
        opacity: 0;
        font-size: 3rem;
        font-weight: 800;
        color: $purple;
        animation: slide-up 2s;
        animation-delay: 2000ms;
    }

    .subtitle {
        line-height: 1.5;
        opacity: 0;
        animation: slide-up 1.5s;
        animation-delay: 3000ms;
    }

    .subtitle-underline {
        text-decoration: underline 3px $purple;
    }

    .icons {
        opacity: 0;
        color: $purple;
        animation: slide-up 1s;
        animation-delay: 3500ms;

        i {
            padding: 0 0.5rem;
        }
    }

    .scroll {
        opacity: 0;
        position: absolute;
        bottom: 5%;
        left: 48%;
        font-size: 1.2rem;
        font-weight: 500;
        animation: slide-up 2s;
        animation-delay: 4000ms;

        i {
            color: $purple;
        }
    }
}

.about-me,
.work {
    padding: 5rem 2rem 4rem;
    text-align: left;
}

.about-me {
    color: white;
    background-color: $dark-purple;

    .about-me-skills {
        text-align: center;
        margin: 2rem auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
        row-gap: 2rem;
    }
}

.work {

    .work-projects {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        color: $white;
        background-color: $dark-purple;
        text-align: center;
        max-width: 25rem;
        margin: auto;

        .card-title {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .card-links {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
        }
    }

}

.contact {
    padding: 4rem 1rem 1rem;
    text-align: left;
    background-color: $dark-purple;
    color: $white;

    .section-header {
        margin-bottom: 1rem;
    }

    .field {
        margin-bottom: 1rem;
    }

    .label {
        color: $white;
        margin-bottom: 0.2rem;
    }

    .input,
    .textarea {
        background-color: $very-dark-purple;
        color: $white;
        font-weight: 500;
        border: none;
    }


    .input::placeholder {
        color: #fff;
        opacity: 0.5;
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
        opacity: 0.5;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        opacity: 0.5;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        opacity: 0.5;
    }

    :-ms-input-placeholder {
        /* Edge/IE 10+ */
        color: #fff;
        opacity: 0.5;
    }

    .textarea::placeholder {
        color: #fff;
        opacity: 0.5;
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
        opacity: 0.5;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        opacity: 0.5;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        opacity: 0.5;
    }

    :-ms-input-placeholder {
        /* Edge/IE 10+ */
        color: #fff;
        opacity: 0.5;
    }

    .submit {
        background-color: $white;
        color: $purple;
        font-weight: 700;
        font-size: 1rem;
    }

    .copyright {
        margin: 6rem auto 0;
        font-size: 0.8rem;
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .header {
        .icons {
            .desktop-icon {
                display: none;
            }
        }

        .scroll {
            display: none;
        }
    }
}

@media screen and (min-width: 600px) {
    .header {
        padding-top: 15rem;
        height: 100vh;
    }
}

@media screen and (min-width: 992px) {
    .section-title {
        font-size: 3rem;

    }

    .paragraph {
        font-size: 1.2rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    .header {
        margin: auto;
        height: 100vh;

        .header-flex {
            flex-direction: row;
            text-align: left;
            gap: 7.5rem;
        }

        .header-img {
            max-width: 500px;
            margin-bottom: 0;
        }

        .hello,
        .subtitle {
            font-size: 1.5rem;
        }

        .title {
            font-size: 4.5rem;
            margin: 1.5rem 0;
        }

        .line {
            display: none;
        }

        .icons {
            .mobile-icon {
                display: none;
            }

        }
    }

    .about-me,
    .work {
        padding: 10rem;
    }

    .work {
        .work-projects {
            flex-direction: row;
            gap: 1rem;
        }

        .card {
            margin: auto;

            .card-title {
                font-size: 1.2rem;
                font-weight: 500;
            }

            .card-links {
                display: flex;
                justify-content: center;
                gap: 1.5rem;
            }

        }
    }

    .contact {
        padding: 10rem 0 2rem;

        .contact-container {
            width: 60%;
        }
    }
}